# Compiled object files
*.o

# Executables
*.exe
*.out

# Libraries
*.lib
*.a
*.la
*.lo

# Build directories
build/

# Mac OS artifacts
.DS_Store

# Windows artifacts
Thumbs.db

# Temporary files
*~

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Config Files
.cursor
.idea
.vscode
.claude